body {
  background-color: $neutral-color-2;
}

.app {
  font-size: $font-size-xs;
}

.link {
  color: $brand-color-primary-4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $brand-color-primary-5;
  }
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
