.button {
  font-size: $font-size-sm;
  line-height: $line-height-tight;
  border-radius: $radius-size-none;
  padding: $spacing-squish-size-xs-stack;

  font-family: $font-family-highlight;
  font-weight: $font-weight-medium;
  color: $neutral-color-5;
  background-color: $brand-color-primary-3;
  text-decoration: none;

  &:hover {
    background-color: $brand-color-primary-2;
  }
}
